<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>


<div class="container body-content">

<!--    search.html is used to display search results, in addition to rendering the form:-->
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->
    <!--4) Display Search Results-In search.html, create a loop to display each job passed in from the controller.-->
    <!--Put the job results into a set of tables, similar to what you did for the list-jobs view.-->
    <!--reuse the code you just wrote in list-jobs.html by defining a new fragment in that file:-->
    <!--    See fragment below-->
    <div th:replace="fragments :: displaysAllJobFieldsInSearch"></div>

</div>

</body>
</html>